#table{
    width: 1000px;
    text-align: center;
    margin: 30px auto;
}
#table>ul{
    padding: 20px 120px;
    text-align: center;
}
#table>ul>li{
    margin: 0px 120px ;
}
#BuyingPage{
    display: inline-block;
}
#box{
    display: block;
    width: 480px;
    height: 320px;
    border: 1px solid #CCCCCC;
    margin: 20px;
    position: relative;
    left: -220px;
    top: 20px;
}
#l_box{
    position: relative;
    z-index: 1;
}
#mask{
    position: absolute;
    width: 400px;
    height: 320px;
    background: #FFFFFF;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 10;

}
#rectangle{
    display: none;
    width: 160px;
    height: 120px;
    position: absolute;
    background: #FFFFCC;
    border: 1px solid #CCCCCC;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
#r_box{
    display: none;
    position: absolute;
    top: 0;
    left: 500px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    z-index: 1;
}
#r_box img{
    position: absolute;
    z-index: 5;
}
#simg1,#simg2,#simg3,#simg4{
    float: left;
    display: inline-block;
    position: relative;
    top: 45px;
    left: -183px;
    margin: 0px 20px ;
}
#Title>h2{
    position: absolute;
    top: 100px;
    left: 600px;
}
#detail{
    text-align: left;
    font-size: 13px;
    position: absolute;
    left: 600px;
    top: 170px;
}
#BuyingPage>p{
    font-size: 14px;
    position: relative;
    height: 20px;
    left: -135px;
    top: -182px;
    margin-top: 32px;
    text-align: right;
}
#choise{
    font-size: 14px;
    position: absolute;
    left: 670px;
    top: 295px;
    border: 1px solid black;
    width: 90px;
    height: 20px;
}
#choise>a{
    color: #cd0a0a;
    text-decoration: none;
}
#namber{
    width: 50px;
    height: 10px;
}
.namber{
    position: absolute;
    left: 670px;
    top: 348px;
    font-size: 15px;
}
#Buy{
    position: absolute;
    left: 610px;
    top: 410px;
}
#window{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 330px;
    top: 180px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    z-index: 2;
}
#window>h4{
    position: relative;
    left: 120px;
    top: -15px;
}
#window>h4>a{
    text-decoration: none;
}
#window>h3{
    position: relative;
    top: -20px;
}
#window>h3>a{
    color: red;
    position: relative;
    top: -15px;
}
.Countdown{
    position: relative;
    left: 233px;
    top: -70px;
}
#education{
    height: 210px;
    text-align: left;
}
#jmu{
    display: inline-block;
    float: right;
    width: 320px;
    height: auto;
}
#work{
    text-align: left;
}
#gold{
    display: inline-block;
    float: right;
    width: 220px;
    height: auto;
}
#big_gold{
    position: absolute;
    left: 105px;
    top: 10px;
    width: 800px;
    height: auto;
    z-index: 3;
}
#bee{
    display: inline-block;
    float: right;
    width: 220px;
    height: auto;
}
#big_bee{
    position: absolute;
    left: 105px;
    top: 10px;
    width: 800px;
    height: auto;
    z-index: 3;
}
#skill{
    text-align: left;
}
#myself{
    text-align: left;
}
#main{
    display: inline-block;
    float: right;
}
#last{
    display: inline-block;
    float: right;
    width: 300px;
    height: auto;
}
#big_last{
    position: absolute;
    left: 105px;
    top: 10px;
    width: 800px;
    height: auto;
    z-index: 3;
}